
.container{
    margin-bottom: 100px;
}
 .card{
     border: none;
     box-shadow: 5px 5px 10px lightgray;
    padding: 30px;
 }
 .cat1{
     background-color: orange;
     border-radius: 10px 30px;
 }
 .cat2{
     background-color: orchid;
     border-radius: 10px 30px;
 }
 .cat3{
     background-color: goldenrod;
     border-radius: 10px 30px;
 }
 .cate-bg{
     box-shadow: 5px 5px 10px lightgray;
     padding: 20px;
     border-radius: 0 25px;

 }
 .cate-go{
     margin: 25px o;

 }
 .order img{
     width: 100%;
 }
